.lastStarted
.owner
hudson.model.UpdateCenter.xml
hudson.plugins.copyartifact.CopyArtifactConfiguration.xml
hudson.plugins.git.GitTool.xml
hudson.plugins.gradle.Gradle.xml
hudson.plugins.groovy.Groovy.xml
hudson.plugins.powershell.PowerShellInstallation.xml
hudson.tasks.Ant.xml
hudson.tasks.Maven.xml
identity.key.enc
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state
jenkins.model.JenkinsLocationConfiguration.xml
jenkins.mvn.GlobalMavenConfig.xml
jenkins.security.apitoken.ApiTokenPropertyConfiguration.xml
jenkins.telemetry.Correlator.xml
jobs/freestyle-azul-jdk-21/builds/
jobs/freestyle-azul-jdk-21/nextBuildNumber
jobs/freestyle-jdk-11.0.12/builds/
jobs/freestyle-jdk-11.0.12/nextBuildNumber
jobs/freestyle-jdk-21/builds/
jobs/freestyle-jdk-21/nextBuildNumber
logs/
nodeMonitors.xml
org.jenkinsci.plugins.docker.commons.tools.DockerTool.xml
org.jenkinsci.plugins.gitclient.JGitApacheTool.xml
org.jenkinsci.plugins.gitclient.JGitTool.xml
plugins/
queue.xml
queue.xml.bak
tools/
updates/
userContent/
war/
